@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: #DDD0C8;
}

.btn1 {
  background: #7562e0;
  border-radius: 8px;
  padding: 10px 30px;
  color: white;
}

.btn1:hover {
  background: white;
  color: #0047AB;
}

.outline {
  outline-color: #0047AB;
}

.outline:hover {
  outline-color: white;
}

.skills:first-child {
  background: #0047AB;
}

.skills:first-child:hover {
  background: #bdbdbd;
}
.tool-card {
  width: auto;
  height: auto;
  background: transparent;
  border: 3px solid white;
  border-radius: 16px;
}

/* .tool-card:nth-child(even){
  border: 3px solid ;
} */

.tool-card:hover{
  background-color:#063147;
  border-color: #063147;
}